 @keyframes fadein {
     0% {
         color: rgba(0, 0, 0, 0.01);
     }

     100% {
         color: rgba(55, 55, 55, 1);
     }
 }

 * {
    padding: 0;
    margin: 0;
 }

 body {
    --gridRail: 10%;
    --sectionFlow: row;
    display: grid;
    grid-template-areas:
    'railP header railS' 
    'railP main   railS' 
    'railP footer railS';
    grid-template-rows: auto 1fr 10%;
    grid-template-columns: var(--gridRail) 1fr var(--gridRail);
    min-height: 100vh;
 }

 .g-header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 3;
    grid-area: header;
 }

.g-header__title {
     display: inline-block;
     font-size: clamp(var(--biggestTitleSize), 7rem, 120px);
     line-height: 1;
     padding: 5px 10px;
     border: 5px solid;
     margin: 0;
     transform-origin: bottom left;
     animation-name: fall;
     animation-duration: 1.3s;
     animation-timing-function: ease-in;
     animation-iteration-count: 1;
     animation-direction: linear;
 }

.g-header__subtitle {
     display: inline-block;
    font-family: var(--titleFontFamily);
    font-weight: var(--heaviestFontWeight);
    font-size: var(--bigTitleSize);
    line-height: var(--smallLineHeight);
     margin: 0;
     animation-name: hop;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: 1;
     animation-direction: linear;
 }

.g-main {
    grid-area: main;
}

 .g-footer {
     grid-area: footer;
     border-top: 1px solid #d8d8d8
 }

 section {
     animation-name: fadein;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: 1;
     animation-direction: linear;
 }


 @keyframes fall {
     0% {
         transform: rotate(-90deg)
     }

     85% {
         transform: rotate(-0deg);
     }

     90% {
         transform: rotate(-5deg);
     }

     95% {
         transform: rotate(-0deg);
     }
 }

 @keyframes hop {
     0% {
         transform: translate(0);
     }

     61% {
         transform: translate(0, -00);

     }

     62% {
         transform: translate(0, -25px) rotate(5deg);

     }

     64% {
         transform: translate(0, -0) rotate(-3.4deg);

     }

     66% {
         transform: translate(0, -15px) rotate(2deg);

     }

     68% {
         transform: translate(0, 0) rotate(-1deg);

     }

     70% {
         transform: translate(0, -5px);

     }

     71% {
         transform: translate(0, 0);

     }
 }

 main {
     animation-name: fadein;
     animation-duration: .3s;
     animation-delay: 1.5s;
     animation-iteration-count: 1;
 }

 .linkList__title {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--colorNeutralDarkest);
 }